h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a { color: #3A5FCD; }

#introduction h2, #attention {
 /* background: rgba(58,95,205,0.8);/*#ed4e1d;#3A5FCD*/
 text-align:center;
 color: #fdf3f0;
}

#introduction a, #attention a {
 color: white;
 border-color: white;
}

h1 A:hover, h2 A:hover, h3 A:hover, h4 A:hover { color: #3A5FCD;}

.fees { background: #dcECFF; }
.fees th, .fees thead {
  color: #3A5FCD;/*#ed4e1d;*/
}

body
/* { background: #e6f3d3; } */
/* { background: #dCEBcc; } */
/* { background: #EBEBcc; } */
/* { background: #22354a; } */
/* { background: #d0cbc1; } */
/* { background: #4482B5; } */
/* { background: #a8c8dd; } */
/* { background: #1476D4; } */
{ background: #edddd9; }

.header, #content { background: white; }

DIV#main,
DIV#past-emnlp,
DIV#contacts
{ background: #fdf3f0; }

DIV#cmain,
DIV#committees ,
{ background: white; }

#introduction {
 background-color: #3A5FCD;
 background-image: url(../../gg.png);
 height: 600px; 
}

#footer
{ color: #404040; }

#content P BIG A {
 color: #3A5FCD;/*darkred;*/
}
